*{
    margin: 0;
    box-sizing: border-box;

    
    
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    

}

header img{
    width: 100%;
    min-height: 400px;
    height: 505px;
}
.header-title{
    display: grid;
    grid-template-columns:  1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    position: absolute;
    grid-template-areas: 
    "left center1 right"
    "left center right";
}
.header-text{
    grid-area: center;
}

.header-title h1{
    line-height: 50px;
    color: #FFFFFF;
    font-family: 'luckiest guy';
    font-size: 5vmax;
    text-align: center;

    

}
.header-title p{
    color:  #FFFFFF;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: center;
    
    
}
.text{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 55%;
    min-width: 25%;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 50px;
}
h1{
    line-height: 50px;
    
}
p{
    line-height: 3vh;
}
.botoes{
    margin-top: 15%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
}
.botoes button{
    width: 25%;
    min-width: 220px;
    height: 44px;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;

}
.butoes button :hover{
    border: 1px solid black;
}
.button-white{
    margin: 0px 10px 15px 0px;
    background-color: #FFFFFF;
    color:  #23272A;
}
.button-black{
    background-color: #23272A;
    color: #FFFFFF;

}

    
.section-1{
    
    /* margin-top: 50%; */
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    

}
.section-2{
    flex-direction: row-reverse;
    background: #F6F6F6;


}
.section-4{
    flex-direction: column-reverse;
    background: #F6F6F6;

}

section img{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    width: 65%
}

section h1{
    font-family: 'luckiest guy';
    font-size: 1.5rem;
    text-align: center;
    color: #23272A;

}
section p{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: center;
    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 134px;
    background-color: #23272A;
}
@media screen and (max-width: 880px) {
    /* header{
        flex-wrap: wrap; */
    /* } */
    .header img{
        height: 500px;


    }
    section{
        flex-wrap: wrap;
    }
    .text{
        margin-left: 22%;
    }
    section img{
        margin-left: 20%;
    }
    .botoes{
        flex-direction: column;
    }
}
    
